# Slicing:
There are two types of slicing:
    1. Positive
    2. Negative

In [1]:
text = 'Welcome to Data Science'
print(text[0])

W

Indexing start from 0
1. Start Index
2. End Index

[start:end]

In [5]:
text = 'Welcome to Data Science'
print(text[1:7])

elcome

In [6]:
text = 'Welcome to Data Science'
print(text[:15])

Welcome to Data

In [8]:
text = 'Welcome to Data Science'
print(text[8:])

to Data Science

### Negative Indexing:
    1. Negative indexing start with -1

In [14]:
text = [10,20,30,40,50,60,70,80,90]

print(text[-4:])

[60, 70, 80, 90]

In [15]:
text = [10,20,30,40,50,60,70,80,90]

print(text[:])

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [16]:
text = [10,20,30,40,50,60,70,80,90]

print(text[-6:-2])

[40, 50, 60, 70]

# Modify String

### 1. Upper:
    1. it is return the string into upper case [Capitalize]

In [18]:
text = 'Welcome to Data Science batch'
print(text.upper())

WELCOME TO DATA SCIENCE BATCH

### 2. Lower:
    it is return string into lower case

In [19]:
text = 'WELCOME TO DATA SCIENCE BATCH'
print(text.lower())

welcome to data science batch

### 3. Remove WhiteSpace:
    1. strip()
    2. beginning of string or end of string

In [22]:
text = '    WELCOME TO DATA SCIENCE BATCH  '
print(text.strip())
print(text)

WELCOME TO DATA SCIENCE BATCH
    WELCOME TO DATA SCIENCE BATCH

### 4. Replace String

In [23]:
text = 'WELCOME TO DATA SCIENCE BATCH'

print(text.replace("DATA","Python"))

WELCOME TO Python SCIENCE BATCH

### 5. Split String

In [24]:
text = 'WELCOME TO DATA SCIENCE BATCH'

print(text.split())

['WELCOME', 'TO', 'DATA', 'SCIENCE', 'BATCH']

## 6. String Concatenation

In [26]:
a = "Python Programming is"
b = 'Awesome'

c = a + b
print(c)

Python Programming is Awesome

In [27]:
a = "Python Programming is"
b = 'Awesome'

c = a +" "+ b
print(c)

Python Programming is Awesome

# 7. String Format

In [28]:
age = 28
text = "My name is Shyam, I am " + age
print(text)

TypeError: can only concatenate str (not "int") to str

### 1. format()

In [29]:
age = 28
text = 'My name is Shyam, and I am {} years old '
print(text.format(age))

My name is Shyam, and I am 28 years old

In [31]:
quantity = 15
item_no = 1
price = 100

my_order = " I want to pay {2} Rupees for {0} pieces of item {1}"
print(my_order.format(quantity, item_no, price))

 I want to pay 100 Rupees for 15 pieces of item 1

In [35]:
quantity = 15
item_no = 1
price = 100

my_order = " I want {} pieces of item {} for {} Rupees"
print(my_order.format(quantity,price ,item_no))

 I want 15 pieces of item 100 for 1 Rupees

In [36]:
quantity = 15
item_no = 1
price = 100

my_order = " I want to give{2} Ruppes for pieces of {0} for item of{1}"
print(my_order.format(quantity, price,item_no))

 I want to give1 Ruppes for pieces of 15 for item of100

# Methods

In [37]:
text = 'welcome to Python Data Science'

print(text.capitalize())

Welcome to python data science

In [40]:
text = 'welcome to Python Data Science'

print(text.casefold())

welcome to python data science

In [42]:
text = 'welcome to Python Data Science and Big Data Python Welcome Welcome Welcome'

print(text.count('Welcome'))

3

In [45]:
text = 'Welcome to Python Data Science and Big Data Python'

print(text.find('Welcome'))

0

# Boolean Values

In [48]:
print(10 > 9)
print(10 == 10)
print(10 < 11)

True
True
True

In [49]:
x = 20
y = 3

if x > y:
    print("y is greater x")
else:
    print("Y is not greater than x")

y is greater x

In [52]:
print(bool("Welcome"))

True

In [53]:
print(bool(""))

False

In [56]:
x= ""
y = 1

print(bool(x))
print(bool(y))

False
True

In [57]:
print(bool(["Apple",'Mango','Cherry']))

True

# Python Operator