# List_Methods:
    1. sort
    2. join
    3. Copy

1. Sort:
    1. List sort be default in Ascending order (alphanumerically)
    2. sort() method is used for that purpose:
        1. Ascending 
        2. Descending

# 1. Ascending

In [1]:
my_list = ['mango','banana','apple','cherry','watermelon','orange', 'pineapple']

In [2]:
my_list.sort()
print(my_list)

['apple', 'banana', 'cherry', 'mango', 'orange', 'pineapple', 'watermelon']

In [3]:
my_list = [100,70,10,50,60,20,40,30,90,80]

my_list.sort()
print(my_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# 2. Descending:
    1. use keyword argument [reverse =True]

In [4]:
my_list = ['mango','banana','apple','cherry','watermelon','orange', 'pineapple']

my_list.sort(reverse=True)
print(my_list)

['watermelon', 'pineapple', 'orange', 'mango', 'cherry', 'banana', 'apple']

In [5]:
my_list = [100,70,10,50,60,20,40,30,90,80]

my_list.sort(reverse=True)
print(my_list)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# Customize Sort Function

1. using keyword argument key = function
Example:
    [100,70,10,50,60,20,40,30,90,80]

In [6]:
def Hello(n):
    return abs(n - 50)
    
my_list = [100,70,10,50,60,20,40,30,90,80]
my_list.sort(key= Hello)
print(my_list)

[50, 60, 40, 70, 30, 20, 80, 10, 90, 100]

Example:
    my_list = [100,50,55,72,22]
    abs(n - 50)
    
    1. 100 - 50 = 50
    2. 50 - 50 = 0
    3. 55 - 50 = 5
    4. 72 -50 = 22
    5. 22 - 50 = -30

In [7]:
def myFunct(n):
    return abs(n - 50)

my_list = [100,50,55,72,22]
my_list.sort(key=myFunct, reverse=True)
my_list

[100, 22, 72, 55, 50]

In [10]:
def myFunct(n):
    return abs(n - 54)

my_list = [100,50,55,72,22]
my_list.sort(key= myFunct, reverse=True)
my_list

[100, 22, 72, 50, 55]

1. 100 - 54 = 46
2. 50 - 54 = 4
3. 55 - 54 = 1
4. 72 - 54 = 18
5. 22 - 54 = 32

difference [46,4,1,18,32]
sort [1,4,18,32,46]
original value = [55,50,72,22,100]

# Case Sensitive Sort :
    1. By default sort() method is case sensitive

In [12]:
my_list = ['mango','banana','apple','cherry','Watermelon','ORANGE', 'pineapple']

my_list.sort()
print(my_list)

['ORANGE', 'Watermelon', 'apple', 'banana', 'cherry', 'mango', 'pineapple']

In [ ]:
# help(abs)

In [14]:
my_list = ['MANGO','BANANA','APPLE','CHERRY','watermelon','ORANGE', 'PINEAPPLE']

my_list.sort()
print(my_list)

['APPLE', 'BANANA', 'CHERRY', 'MANGO', 'ORANGE', 'PINEAPPLE', 'watermelon']

In [20]:
my_list = ['Mango','Banana','Apple','cherry','watermelon','Orange', 'Pineapple']
my_list.sort(key=str.lower)
print(my_list)

['Apple', 'Banana', 'cherry', 'Mango', 'Orange', 'Pineapple', 'watermelon']

In [21]:
my_list = ['Mango','Banana','Apple','cherry','watermelon','Orange', 'Pineapple']
my_list.sort(key=str.capitalize)
print(my_list)

['Apple', 'Banana', 'cherry', 'Mango', 'Orange', 'Pineapple', 'watermelon']

# 1. copy List:
    1. my_list1 = my_list 
    2. copy() method using we copy list of elements into one list to another list

In [22]:
my_list1 = ['Mango','Banana','Apple','cherry','watermelon','Orange', 'Pineapple']

new_list = my_list1.copy()


print(my_list1)
print(new_list)

['Mango', 'Banana', 'Apple', 'cherry', 'watermelon', 'Orange', 'Pineapple']
['Mango', 'Banana', 'Apple', 'cherry', 'watermelon', 'Orange', 'Pineapple']

### another way is to list() built in method

In [23]:
my_list1 = ['Mango','Banana','Apple','cherry','watermelon','Orange', 'Pineapple']

new_list1 = list(my_list1) 

print(my_list1)
print(new_list1)

['Mango', 'Banana', 'Apple', 'cherry', 'watermelon', 'Orange', 'Pineapple']
['Mango', 'Banana', 'Apple', 'cherry', 'watermelon', 'Orange', 'Pineapple']

In [25]:
# help(list())

In [28]:
# help(my_list1.copy())

# Join method using join two list

In [29]:
my_list1 = ['apple','mango','cherry']
my_list2 = ['watermelon', 'Orange', 'Pineapple']

my_list3 = my_list1 + my_list2

print(my_list1)
print(my_list2)
print(my_list3)

['apple', 'mango', 'cherry']
['watermelon', 'Orange', 'Pineapple']
['apple', 'mango', 'cherry', 'watermelon', 'Orange', 'Pineapple']

In [30]:
my_list1 = ['apple','mango','cherry']
my_list2 = ['watermelon', 'Orange', 'Pineapple']

for x in my_list2:
    my_list1.append(x)

print(my_list1)

['apple', 'mango', 'cherry', 'watermelon', 'Orange', 'Pineapple']

In [35]:
my_list1 = ['apple','mango','cherry']
my_list2 = ['watermelon', 'Orange', 'Pineapple']

for x in my_list1:
    my_list2.append(x)
    
print(my_list1)
my_list2

['apple', 'mango', 'cherry']

['watermelon', 'Orange', 'Pineapple', 'apple', 'mango', 'cherry']