# Data Types

### There are different types of Data Types:
    1. Text Type [str] [Example: "Python",'Python']
    2. Numeric Type [int, float,complex] [Example: 10, 10.5, 1j]
    3. Sequence Types [list, tuple, range]
    4. Mapping Types [dict]
    5. Set Types [set, frozenset]
    6. Boolean Types [True,False]
    7. Binary Type [bytes, bytearray, memoryview]

In [3]:
x = 10.5
print(type(x))

<class 'float'>

### 1. Text Type

In [4]:
x = 'Welcome to Python Programming'
print(x)
print(type(x))

Welcome to Python Programming
<class 'str'>

In [5]:
x = "Welcome to Python Programming"
print(x)
print(type(x))

Welcome to Python Programming
<class 'str'>

### 2. Numeric Types:
    1. int
    2. float
    3. complex

In [6]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [7]:
x = 40.12
print(x)
print(type(x))

40.12
<class 'float'>

In [8]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

## 3. Sequence Type:
    1. list
    2. tuple
    3. range

In [10]:
# list
x = []
print(x)
print(type(x))

[]
<class 'list'>

In [11]:
x = ['apple','mango','cherry',10,20]
print(x)
print(type(x))

['apple', 'mango', 'cherry', 10, 20]
<class 'list'>

In [12]:
# tuple
x = ()
print(x)
print(type(x))

()
<class 'tuple'>

In [17]:
x = ('apple','mango','cherry', 'apple')
print(x)
print(type(x))

['apple', 'mango', 'cherry', 'apple']
<class 'list'>

In [15]:
x = range(1,6)
print(x)
print(type(x))

range(1, 6)
<class 'range'>

### 4. Mapping:
    1. Dict

In [18]:
# dictinary
x = {}
print(x)
print(type(x))

{}
<class 'dict'>

In [21]:
x = {'p_name':'Shyam','age':45,'post':'Data scientist'}
print(x)
print(type(x))

{'p_name': 'Shyam', 'age': 45, 'post': 'Data scientist'}
<class 'dict'>

### 5. Set:
    1. set

In [24]:
x = {'Python','Data'}
print(x)
print(type(x))

{'Python', 'Data'}
<class 'set'>

### 6. Boolean Type:
    1. True
    2. False

In [25]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [26]:
x = False
print(x)
print(type(x))

False
<class 'bool'>

### 7. Binary Data:
    1. bytes
    2. bytearray
    3. memoryview

In [27]:
x = b'Python'
print(x)
print(type(x))

b'Python'
<class 'bytes'>

In [29]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [30]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x000002528529E4C0>
<class 'memoryview'>

1. x = str('Python')
2. x = int(20)
3. x = float(10.5)
4. x = complex(1j)
5. x = list(['apple','mango'])
6. x = tuple(('apple','mango','cherry'))
7. x = range(6)
8. x = dict({'name':'shyam'})
9. x = set({'apple','mango'})
10. x = bool(5)
11. x = bytes(5)
12. x = bytearray(6)
13. x = memoryview(bytes(5))

In [34]:
x = dict({'name':'shyam'})
print(x)
print(type(x))

{'name': 'shyam'}
<class 'dict'>

# 1. Python Numbers

### int

In [35]:
x = 1
y = 12346789
z = -12345

In [36]:
print(x)
print(y)
print(z)

1
12346789
-12345

In [37]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

### float

In [38]:
x = 10.
y = 123.1234
z = -15.15

In [39]:
print(x)
print(y)
print(z)

10.0
123.1234
-15.15

In [40]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

### complex

In [47]:
x = 5+3j
y = 6j
z = -8j

In [48]:
print(x)
print(y)
print(z)

(5+3j)
6j
(-0-8j)

In [49]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

## Type conversion

In [53]:
x = 15 #int
y = -20.14 #float
z = 1j #complex

In [54]:
# Convert int to float
a = float(x)
print(a)
print(type(a))

15.0
<class 'float'>

In [55]:
# Conver float to int

b = int(y)
print(b)
print(type(b))

-20
<class 'int'>

In [56]:
# Convert int to complex

c = complex(x)
print(c)
print(type(c))

(15+0j)
<class 'complex'>

In [58]:
# Convert complex to int

d = float(z)

TypeError: can't convert complex to float

### Random Number

In [59]:
import random

In [62]:
print(random.randrange(1,10))

1

## Boolean Type

In [63]:
x = 15
y = 20
print(x > y)

False

In [64]:
x = 15
y = 20
print(x < y)

True

In [66]:
x = 50
y = 100

if x < y:
    print("x is not greater than y")
else:
    print("x is greater than y")

x is not greater than y

In [67]:
print(bool("Python"))

True

In [69]:
print(bool("a"))

True

# String

In [70]:
x = "Python Data Science"
print(x)
print(type(x))

Python Data Science
<class 'str'>

In [71]:
x = 'Python Data Science'
print(x)
print(type(x))

Python Data Science
<class 'str'>

In [72]:
x = """ Welcome to Python data science class,
it is revised syllabus"""
print(x)
print(type(x))

 Welcome to Python data science class,
it is revised syllabus
<class 'str'>

In [73]:
x = '''  Welcome to Python data science class,
it is revised syllabus'''
print(x)
print(type(x))

 Welcome to Python data science class,
it is revised syllabus
<class 'str'>

In [74]:
print(len(x))

61

In [75]:
print(x.upper())

 WELCOME TO PYTHON DATA SCIENCE CLASS,
IT IS REVISED SYLLABUS

In [76]:
print(x.lower())

 welcome to python data science class,
it is revised syllabus

In [78]:
print(x)
print(x.strip())

 Welcome to Python data science class,
it is revised syllabus
Welcome to Python data science class,
it is revised syllabus

print(x.split())

In [80]:
print(x.replace('Welcome','Awesome'))

 Awesome to Python data science class,
it is revised syllabus

In [81]:
x = "Pyhton"
y = "World"

z = x + y
z

'PyhtonWorld'

In [82]:
x = "Pyhton"
y = "World"

z = x +" "+ y
z

'Pyhton World'

# String format

In [83]:
age = 25
my_text = "My name is Shyam and my age is "+age
print(my_text)

TypeError: can only concatenate str (not "int") to str

In [84]:
age = 28
my_text = "My name is shyam and I am {} years old"
print(my_text.format(age))

My name is shyam and I am 28 years old

In [85]:
age = 28
my_text = "My name is shyam and I am {} years old".format(age)
print(my_text)

My name is shyam and I am 28 years old

In [87]:
quantiy = 5
iteno = 540
price = 200.50
my_order = "I want {} quantity of item no {} for that item no i want to pay{} Rupees"
print(my_order.format(quantiy, iteno, price))

I want 5 quantity of item no 540 for that item no i want to pay200.5 Rupees

In [88]:
quantiy = 5
iteno = 540
price = 200.50
my_order = "I want to pay {2} rupees for item no {1} for {0} quantity"
print(my_order.format(quantiy, iteno, price))

I want to pay 200.5 rupees for item no 540 for 5 quantity