# Python Function
1. Function is a block of code which is executed only when it is called
2. Python Function is a block of related statement designed to perform a logical, evaluate task
3. To define a Function, def keyword is used
4. Function can return a data as a result
5. you can pass data to function , known as parameter

### Create a Function in Python

In [1]:
def my_function():
    print("Welcome to Python Function")

### Calling Function

In [2]:
def my_function():
    print("Welcome to Python Function")
my_function()

Welcome to Python Function

### Argument or Parameter pass in Function

1. Information can be passed into function as arguments
2. Argument are specified after the function name in parnthesis
3. separate using comma

In [5]:
def my_function(fname):
    print("Hello",fname + "Welcome to Python Function")
    
my_function("Rahul ")

Hello Rahul Welcome to Python Function

In [6]:
def my_function(fname):
    print("Hello",fname + "Welcome to Python Function")
    
my_function()

TypeError: my_function() missing 1 required positional argument: 'fname'

### Number of Arguments

In [7]:
def my_Information(fname, lname):
    print('Hello',fname, lname, "Welcome to Python Function")
    
my_Information("Abhinav", "Vaidya")

Hello Abhinav Vaidya Welcome to Python Function

In [9]:
def my_Information(fname, lname):
    print('Hello',fname, lname, "Welcome to Python Function")
    
my_Information("Abhinav","Vaidya")

Hello Abhinav Vaidya Welcome to Python Function

In [10]:
def my_Information(fname, lname):
    print('Hello',fname, lname, "Welcome to Python Function")
    
my_Information("Abhinav",)

TypeError: my_Information() missing 1 required positional argument: 'lname'

#### 1. Arbitary Arguments, *args
#### 2. Keyword Arguments 
##### 3. Arbitary Keyword Arguments, **kwargs

## 1. Arbitary Arguments

In [11]:
def my_function(fname):
    print("Welcome to Data Science Batch",fname)
    
my_function("Abhinav","Rahul","Nilesh","Megha","Snehal")

TypeError: my_function() takes 1 positional argument but 5 were given

In [14]:
def my_function(*fname):
    print("Welcome to Data Science Batch",fname)
    
my_function("Abhinav","Rahul","Nilesh","Megha","Snehal")

Welcome to Data Science Batch ('Abhinav', 'Rahul', 'Nilesh', 'Megha', 'Snehal')

In [15]:
def my_function(*fname):
    print("Welcome to Data Science Batch",fname[2])
    
my_function("Abhinav","Rahul","Nilesh","Megha","Snehal")

Welcome to Data Science Batch Nilesh

In [18]:
def my_function(*emp):
    print(emp[2],"Welcome to Pune City")
    
my_function("Abhinav","Rahul","Nilesh","Megha","Snehal")

Nilesh Welcome to Pune City

In [20]:
def my_function(*emp):
    print(emp[2],"Welcome to Pune City")
    
my_function("Abhinav","Rahul","Nilesh","Megha","Snehal")

Nilesh Welcome to Pune City

## 2. Keyword Arguments

In [16]:
def my_function(stud1, stud2, stud3):
    print(stud2,"Welcome to Data Science Batch")
    
my_function(stud1="Abhinav",stud2="Rahul",stud3="Nilesh")

Rahul Welcome to Data Science Batch

In [17]:
def my_function(emp1, emp2, emp3):
    print(emp2, emp3,"Welcome to Data Science Batch")
    
my_function(emp1="Nilesh",emp2="Abhinav",emp3="Snehal")

Abhinav Snehal Welcome to Data Science Batch

## 3. Arbitary Keyword Arguments

In [23]:
def my_Function(**employee):
    print(employee["fname"],"Welcome to Data Science Batch")
    
my_Function(fname = "Abhinav", lname ="Vaidya",fname1 = "Nilesh")

Abhinav Welcome to Data Science Batch

In [25]:
def my_Function(**employee):
    print(employee["fname"],"Welcome to Data Science Batch")
    
my_Function(fname = "Abhinav", lname ="Vaidya",fname1 = "Nilesh")

Abhinav Welcome to Data Science Batch

## Default Parameter Value

In [29]:
def my_function(state = " India"):
    print("I am From"+state)
    
my_function(" Maharashtra ")
my_function(" Gujrat ")
my_function()

I am From Maharashtra
I am From Gujrat
I am From India

In [35]:
def hello_world(country):
    print("I am From" + country)
    
hello_world("  Akola")
hello_world("Amravati")
hello_world(" Pune")
hello_world()

I am From  Akola
I am FromAmravati
I am From Pune

TypeError: hello_world() missing 1 required positional argument: 'country'

In [40]:
def hello_world(city = " India"):
    print("I am From" + city)
    
hello_world("  Akola")
hello_world("Amravati")
hello_world(" Pune")
hello_world()

I am From  Akola
I am FromAmravati
I am From Pune
I am From India

In [47]:
def my_calculation(x):
    return 10 * x

print(my_calculation(3))
print(my_calculation(10))

30
100