# Join method using join two list

In [1]:
my_list1 = ["apple","mango",'watermelon']
my_list2 = [10,20,30]

my_list3 = my_list1 + my_list2

print(my_list3)

['apple', 'mango', 'watermelon', 10, 20, 30]

In [3]:
my_list1 = ["apple","mango",'watermelon']
my_list2 = [10,20,30]
my_list3 = [10.23,12.15,25.23]

my_list4 =  my_list2 + my_list3 + my_list1

print(my_list4)

[10, 20, 30, 10.23, 12.15, 25.23, 'apple', 'mango', 'watermelon']

### 1. Append()

In [5]:
my_list1 = ["apple","mango",'watermelon']
my_list2 = [10,20,30]

for x in my_list2:
    my_list1.append(x)
    
print(my_list1)

['apple', 'mango', 'watermelon', 10, 20, 30]

In [11]:
my_list1 = ["apple","mango",'watermelon']
my_list2 = [10,20,30]

my_list1.append(my_list2)
print(my_list1)

['apple', 'mango', 'watermelon', [10, 20, 30]]

### 2. extend()

In [6]:
my_list1 = ["apple","mango",'watermelon']
my_list2 = [10,20,30]

my_list1.extend(my_list2)
print(my_list1)

['apple', 'mango', 'watermelon', 10, 20, 30]

In [10]:
my_list1 = ["apple","mango",'watermelon']
my_list2 = ["banana","cherry"]


for i in my_list2:
    my_list1.extend(my_list2)
    
print(my_list1)

['apple', 'mango', 'watermelon', 'banana', 'cherry', 'banana', 'cherry']

In [12]:
my_list1 = ["apple","mango",'watermelon']
my_list2 = ["banana","cherry"]


for i in my_list2:
    my_list1.append(i)
    
print(my_list1)

['apple', 'mango', 'watermelon', 'banana', 'cherry']

In [13]:
my_list1 = ["apple","mango",'watermelon']
my_list2 = ["banana","cherry"]


my_list1.extend(my_list2)
print(my_list1)

['apple', 'mango', 'watermelon', 'banana', 'cherry']

In [16]:
my_list1 = [10,20,30]
my_list2 = [40,50,60]

for i in my_list2:
    my_list1.extend(my_list2)
    
print(my_list1)

[10, 20, 30, 40, 50, 60, 40, 50, 60, 40, 50, 60]

In [15]:
my_list1 = [10,20,30]
my_list2 = [40,50,60]

my_list2.extend(my_list1)
print(my_list2)

[40, 50, 60, 10, 20, 30]

In [ ]:
my_list1 = [10, 20, 30, 40, 50, 60, 40, 50, 60, 40, 50, 60]

my_list1.clear()
print(my_list1)

In [18]:
my_list1 = [10, 20, 30, 40, 50, 60, 40, 50, 60, 40, 50, 60]

del my_list1
print(my_list1)

NameError: name 'my_list1' is not defined

# Reverse

In [19]:
my_list1 = ["apple","mango",'watermelon',"banana","cherry"]

my_list1.reverse()

In [20]:
my_list1

['cherry', 'banana', 'watermelon', 'mango', 'apple']

In [22]:
my_list1 = ["apple","mango",'watermelon',"banana","cherry"]

my_list1.pop(1)
print(my_list1)

['apple', 'watermelon', 'banana', 'cherry']

# Sort

In [23]:
my_list1 = ["apple","mango",'watermelon',"banana","cherry"]

my_list1.sort(reverse=True)

In [24]:
my_list1

['watermelon', 'mango', 'cherry', 'banana', 'apple']

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [56]:
for x in range(1,6):
    for y in range(1,x + 1 ):
        print(y, end =" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# User Input

In [27]:
my_name = str(input("Enter your Name: "))

Enter your Name: Shyam Ambilkar

In [28]:
print(" My name is {}".format(my_name))

 My name is Shyam Ambilkar

In [29]:
print("My name is ", my_name)

My name is  Shyam Ambilkar

In [31]:
my_name = (input("Enter your Name: "))

Enter your Name: shyam

# Even Odd

In [40]:
x = float(input("Enter number:"))

if x % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Enter number:10
Even Number

In [46]:
year = int(input("Enter number:"))

if year % 4 == 0:
    print("{} is Leap Year".format(year))
else:
    print("{} is Not Leap Year".format(year))

Enter number:2005
2005 is Not Leap Year