# Tuples

1. Tuples are used to store multiple items single variable
2. Tuples are used to store collection of dataset
3. Tuple is collection which is ordered and unchangeble (immutable)
4. Tuple are written with rounded braces [Example: my_tuple = ()]
5. Tuple are used paranthesis whereas list are used squred brackets
6. Sequence value store in tuples can be different types and access by using indexing
7. Tupleas are used to store multiple items (created by sequencing of values) separated by comma
8. Tuples are store to Heterogeneous of Data but commonly used homogeneous of Data

There are different parameters:
    1. Tuples Elements:
        1. ordered, unchangeble, and duplicate allow
        2. using indexing first elements[0] index, second elelments[1]
    2. Ordered:
        1. ordered once tuple has been created we can not change the ordered
    3. Unchangeble[unmutuable]:
        1. unchangeble means can not add, remove, change its value after its creation
    4. Allow Duplicates:
        1. same values are allowed in tuple

In [1]:
my_tuples = ('apple','banana','cherry','mango')
print(my_tuples)

('apple', 'banana', 'cherry', 'mango')

In [2]:
my_tuples = ('apple','banana','cherry','mango')
print(len(my_tuples))

4

In [3]:
my_tuples = ('apple')
print(type(my_tuples))

my_tuples = ('apple',)
print(type(my_tuples))

<class 'str'>
<class 'tuple'>

In [4]:
my_tuples1 = ('apple','banana','cherry','mango')
my_tuples2 = (1,5,8,6,4,3)
my_tuples3 = (True, False, True,True, False)
my_tuples4 = (10.25,12.23,14,15)

In [5]:
print(my_tuples1)
print(my_tuples2)
print(my_tuples3)
print(my_tuples4)

('apple', 'banana', 'cherry', 'mango')
(1, 5, 8, 6, 4, 3)
(True, False, True, True, False)
(10.25, 12.23, 14, 15)

In [6]:
my_tuples = ('apple','banana',1,5,8,6,4,3,'cherry','mango',True,True, False,12.23,14.14,15.12)

In [7]:
print(my_tuples)

('apple', 'banana', 1, 5, 8, 6, 4, 3, 'cherry', 'mango', True, True, False, 12.23, 14.14, 15.12)

In [8]:
print(type(my_tuples))

<class 'tuple'>

# 1. Access Elements in Tuples using Indexing:
    There are two types of Accessing available in tuples:
        1. Positive Indexing
        2. Negative Indexing
        3. Range of Indexing

### 1. Positive Indexing

In [9]:
my_tuples1 = ('apple','banana','cherry','mango', 'watermelon','pineapple')

In [10]:
print(my_tuples1[4])

watermelon

In [11]:
print(my_tuples1[1])

banana

### 2. Negative Indexing

In [12]:
my_tuples1 = ('apple','banana','cherry','mango', 'watermelon','pineapple')

In [13]:
print(my_tuples1[-1])

pineapple

In [14]:
print(my_tuples1[-5])

banana

### 3. Range of Indexing [start: end]

In [15]:
my_tuples1 = ('apple','banana','cherry','mango', 'watermelon','pineapple')

In [16]:
my_tuples1[1:]

('banana', 'cherry', 'mango', 'watermelon', 'pineapple')

In [17]:
my_tuples1[1:5]

('banana', 'cherry', 'mango', 'watermelon')

In [18]:
my_tuples1[:4]

('apple', 'banana', 'cherry', 'mango')

In [19]:
my_tuples1[-4:]

('cherry', 'mango', 'watermelon', 'pineapple')

In [20]:
my_tuples1[-4:-1]

('cherry', 'mango', 'watermelon')

### 4.Range of Indexing [start: end:step]

In [21]:
my_tuples1 = ('apple','banana','cherry','mango', 'watermelon','pineapple','blackcurrent','papaya')

In [22]:
print(my_tuples1[0::2])

('apple', 'cherry', 'watermelon', 'blackcurrent')

In [23]:
print(my_tuples1[::3])

('apple', 'mango', 'blackcurrent')

In [24]:
my_tuples1[-6:-1:2]

('cherry', 'watermelon', 'blackcurrent')

# 2. Change Tuple values (using list)

In [25]:
my_tuples1 = ('apple','banana','cherry','mango', 'watermelon','pineapple','blackcurrent')

my_tuples1[1] = 'kiwi'

TypeError: 'tuple' object does not support item assignment

1. Change Tuples valus using list
2. First convert tuple into a list then we have able to change tuple value

In [26]:
my_tuples1 = ('apple','banana','cherry','mango', 'watermelon')

my_list = list(my_tuples1)

my_list[1] = 'kiwi'
my_tuples1 = tuple(my_list)

In [27]:
print(my_tuples1)

('apple', 'kiwi', 'cherry', 'mango', 'watermelon')

In [28]:
print(my_list)

['apple', 'kiwi', 'cherry', 'mango', 'watermelon']

In [29]:
my_tuples = ('apple', 'kiwi', 'cherry', 'mango', 'watermelon')

my_list = list(my_tuples)

In [30]:
print(my_tuples)
print(my_list)
print(type(my_list))
print(type(my_tuples))

('apple', 'kiwi', 'cherry', 'mango', 'watermelon')
['apple', 'kiwi', 'cherry', 'mango', 'watermelon']
<class 'list'>
<class 'tuple'>

In [31]:
my_list[1] = 'Papaya'

In [32]:
my_list

['apple', 'Papaya', 'cherry', 'mango', 'watermelon']

In [33]:
my_tuples = tuple(my_list)
print(my_tuples)

('apple', 'Papaya', 'cherry', 'mango', 'watermelon')

### 1. Append Method

In [34]:
my_tuples1 = ('apple', 'kiwi', 'cherry', 'mango', 'watermelon')

my_list = list(my_tuples1)
my_list.append("orange")
my_tuples1 = tuple(my_list)

In [35]:
my_tuples1

('apple', 'kiwi', 'cherry', 'mango', 'watermelon', 'orange')

### 2. Insert Method

In [37]:
my_tuples1 = ('apple', 'kiwi', 'cherry', 'mango', 'watermelon')

my_list = list(my_tuples1)
my_list.insert(1,"Papaya")
my_tuples1 = tuple(my_list)

In [38]:
my_tuples1

('apple', 'Papaya', 'kiwi', 'cherry', 'mango', 'watermelon')

### 3. Remove Method

In [39]:
my_tuples1 = ('apple', 'kiwi', 'cherry', 'mango', 'watermelon')

my_list = list(my_tuples1)
my_list.remove("watermelon")
my_tuples1 = tuple(my_list)

In [40]:
my_tuples1

('apple', 'kiwi', 'cherry', 'mango')

### 4. Completly delete tuple using del keyword

In [42]:
my_tuples1 = ('apple', 'kiwi', 'cherry', 'mango', 'watermelon')
print(my_tuples1)

del my_tuples1
print(my_tuples1)

('apple', 'kiwi', 'cherry', 'mango', 'watermelon')

NameError: name 'my_tuples1' is not defined

In [43]:
my_tuples1 = ('apple', 'kiwi', 'cherry', 'mango', 'watermelon')

In [44]:
my_tuples1[0:3]

('apple', 'kiwi', 'cherry')

In [45]:
my_tuples1[1:3]

('kiwi', 'cherry')