# Unpacking Tuples

In [1]:
fruits = ('apple','banana','cherry')

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [2]:
fruits

('apple', 'banana', 'cherry')

In [3]:
fruits = ('apple','banana','cherry')

for i in fruits:
    print(i)

apple
banana
cherry

In [5]:
fruits = ('apple','banana','cherry')

for i in range(len(fruits)):
    print(i)

0
1
2

In [6]:
fruits = ('apple','banana','cherry')

for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

# Joining Tupels in Python

In [7]:
my_tuple1 = ('apple','banana','cherry')
my_tuple2 = (10,20,30)

my_tuple3 = my_tuple1 + my_tuple2
print(my_tuple3)

('apple', 'banana', 'cherry', 10, 20, 30)

In [8]:
my_tuple1 = ('apple','banana','cherry')
new_tuple = my_tuple1 * 2

print(new_tuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [9]:
my_tuple1 = ('apple','banana','cherry')
new_tuple = my_tuple1 * 4

print(new_tuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [10]:
my_tuple1 = ('apple','banana','cherry')
my_tuple2 = (10,20,30)

my_tuple3 = (my_tuple1,my_tuple2)
print(my_tuple3)

(('apple', 'banana', 'cherry'), (10, 20, 30))

In [14]:
my_tuple1 = ('apple', 'banana', 'cherry', 'apple','banana','cherry','banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

new_tuple = my_tuple1.count('cherry')
print(new_tuple)

5

In [19]:
my_tuple1 = ('apple', 'banana', 'cherry', 'apple','banana','cherry','banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

new_tuple = my_tuple1.index('banana')
print(new_tuple)

1

In [20]:
my_tuple1 = ('apple','banana','cherry')

my_list = list(my_tuple1)

In [21]:
type(my_tuple1)

tuple

In [22]:
type(my_list)

list

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [23]:
for x in range(1,6):
    for y in range(1,x + 1 ):
        print(x, end =" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [30]:
for x in range(1,6):
    for y in range(1,x + 1 ):
        print(x, end= " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [27]:
for x in range(1, 6):
    for y in range(1,y+1):
        print('*', end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [32]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        print('*', end=' ')
    print('')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

User Input:
    1452
Reverse Number:
    2541

In [33]:
num = int(input("Enter a Number for Reverse: "))

rev = 0
while (num !=0):
    rev = rev * 10
    rev = rev + num % 10
    num = num //10
print("Reverse Number is: ",rev)

Enter a Number for Reverse: 1525
Reverse Number is:  5251

In [34]:
x=int(input("Insert value in Celcius: "))

x=round(x* (9/5) + 32)
print(str(x) + 'F')

Insert value in Celcius: 100
212F