# Python Programming

### 1. What is Python:
    1. Python is general purpose High level Programming language
    2. Python is interpreted, interactive, object oriented Programming language
    3. Easy to understand
    4. open source(free to anybody to use)
    5. portablity (same works on another machine)
    6. Huge Library
    7. Object oriented programming

### Examples:
    1. Google:
        1. Better search result are provided based on ranking of the websites and much more.
    2. Netflix:
        1. Machine learning is use to cluster users based on there interst on shows and retain them for longer
    3. Bittorent:
        Transfer a file between peer to peer
    4. DropBox:
        The server and client applications are based on python
    5. NCS:
        Encryption and Decryption
    6. NASA:
        Scientific calculation
    7. ISRO:
        Scientific Calculation

### Why Python?:
    1. Easy to use programming language
    2. A lot application (Apps, Games, Web-Based, IoT)
    3. Web Frameworks:
        1. Django
        2. Flask
    4. Most used Machine Learning and Artificial Intelligence
    5. Work different Platform
    6. simple synatx like english statement
    7. use for Rapid Prototyping
    8. Server to create web application

In [7]:
print("Welcome to Python Programming")

Welcome to Python Programming

### 1. Variable:
    1. Vaibles something contains value
    2. There are two types of variable:
        1. Local Variable
        2. Global Variable

In [9]:
shyam = 100

In [10]:
shyam

100

In [13]:
# This is variable
# This is variable
# This is variable
x = 100
x

100

In [14]:
"""This is comment,
this is comment,
THIS IS COMMENT"""
print("Welcome to Data Science")

Welcome to Data Science

In [15]:
x = 9923090436 #int type
x

9923090436

In [16]:
x = 90 #int type of data
y = 75.12 #float value
z = "Python Programming" #String value
a = 'Python Programming' #String value
b = True #boolean

In [17]:
print(x)
print(y)
print(z)
print(a)
print(b)

90
75.12
Python Programming
Python Programming
True

### type()

In [19]:
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

### Single and Double Quotes

In [20]:
x = "Python Programming"
x = 'Python Programming'

print(x)
print(x)

Python Programming
Python Programming

# Case sensitive

In [22]:
x = "Python "
X = 'Python Programming'

In [23]:
print(x)

Python

In [24]:
age = 25
Age = 26
AGE = 27

In [26]:
print(age)
print(Age)
print(AGE)

25
26
27

# Variable Names

1. A Variable name must start with letter (age, name,a-zA-Z)or underscore character (_)
2. Variable name cannot start with number
3. A Variable can name only alpha-numric character and underscore (a-zA-Z0-9)
4. A Variable names are case sensitive (age,AGE,Age) there are different values

In [27]:
name = "Shyam"
_name = "Ambilkar"

In [28]:
print(name)
print(_name)

Shyam
Ambilkar

In [29]:
1name = "Python"
2name = 'Data Science'

SyntaxError: invalid syntax (<ipython-input-29-d700090a9251>, line 1)

In [30]:
name1 = "Python"
name2 = 'Data Science'

In [31]:
print(name1)
print(name2)

Python
Data Science

### Legal Variable Names

In [32]:
myname = 'Python'
myName = 'Python'
_myName ='Data'
_my_name = 'Data'
MYNAME = 'dATA'
myname2_x = "Data Science"

### Illegal Variable Names

In [33]:
2myname = 'Pyhon'

SyntaxError: invalid syntax (<ipython-input-33-b9c50ebbe5b7>, line 1)

In [34]:
my-var = 'Data'

SyntaxError: cannot assign to operator (<ipython-input-34-13a87a2d0e27>, line 1)

In [35]:
my var = 'Data'

SyntaxError: invalid syntax (<ipython-input-35-ed519168e926>, line 1)

In [36]:
x, y, z = "orange",'apple','mango'

In [37]:
print(x)
print(y)
print(z)

orange
apple
mango

In [38]:
x = y = z = 'apple'

In [39]:
print(x)
print(y)
print(z)

apple
apple
apple

### Output Variables

In [40]:
x = "Awesome"
print("Python is "+ x)

Python is Awesome

In [41]:
x = 'Python is '
y = "Awesome"

z = x + y
print(z)

Python is Awesome

In [42]:
x= 10
y = 20
print(x + y)

30

In [43]:
x = 'Awesome'
y = 10

print(x+y)

TypeError: can only concatenate str (not "int") to str

### Global Variable

In [45]:
#Global Variable
x = 'Awesome'

def myFunction():
    print("Python is "+x)
    
myFunction()

Python is Awesome

In [51]:
x = 20

def myFunction():
    x = 10
    print(10+x)
    
myFunction()

print(20+x)

20
40

In [52]:
def myFunction():
    global x
    x = 10
    print(10+x)
    
myFunction()

print(20+x)

20
30