# Sets

In [1]:
my_set = {}
print(type(my_set))

<class 'dict'>

In [2]:
my_set = {'apple'}
print(type(my_set))

<class 'set'>

In [3]:
my_set = {'apple','mango','cherry','Papaya'}

In [4]:
my_set

{'Papaya', 'apple', 'cherry', 'mango'}

In [5]:
my_set['apple']

TypeError: 'set' object is not subscriptable

In [6]:
my_set = {'apple','mango','cherry','Papaya'}

for x in my_set:
    print(x)

mango
Papaya
apple
cherry

In [7]:
my_set = {'apple','mango','cherry','Papaya'}

print('apple' in my_set)

True

In [8]:
my_set = {'apple','mango','cherry','Papaya'}
my_set.add("orange")

In [9]:
my_set

{'Papaya', 'apple', 'cherry', 'mango', 'orange'}

### 2. Update

In [10]:
my_set1 = {'apple','mango','cherry','Papaya'}
my_set2 = {'pineapple','watermelon','orange'}

my_set1.update(my_set2)
print(my_set1)

{'mango', 'watermelon', 'orange', 'Papaya', 'cherry', 'pineapple', 'apple'}

In [11]:
my_set1 = {'apple','mango','cherry','Papaya'}
my_list = ['pineapple','watermelon','orange']


my_set1.update(my_list)
print(my_set1)

{'mango', 'watermelon', 'orange', 'Papaya', 'pineapple', 'cherry', 'apple'}

### 3. Remove:
    1. remove()
    2. pop()
    3. discard()

### 1. Remove()

In [12]:
my_set1 = {'watermelon', 'mango', 'Papaya', 'apple', 'pineapple', 'orange', 'cherry'}
my_set1.remove('apple')
print(my_set1)

{'watermelon', 'mango', 'orange', 'Papaya', 'pineapple', 'cherry'}

In [13]:
my_set1 = {'watermelon', 'mango', 'Papaya', 'apple', 'pineapple', 'orange', 'cherry'}
my_set1.remove()
print(my_set1)

TypeError: remove() takes exactly one argument (0 given)

### 2. pop()

In [14]:
my_set1 = {'watermelon', 'mango', 'Papaya', 'apple', 'pineapple', 'orange', 'cherry'}

my_set1.pop()
my_set1

{'Papaya', 'apple', 'cherry', 'mango', 'orange', 'pineapple'}

In [15]:
my_set1 = {'watermelon', 'mango', 'Papaya', 'apple', 'pineapple', 'orange', 'cherry'}

my_set1.pop('orange')
print(my_set1)

TypeError: pop() takes no arguments (1 given)

### 3. discard()

In [16]:
my_set1 = {'watermelon', 'mango', 'Papaya', 'apple', 'pineapple', 'orange', 'cherry'}

my_set1.discard("banana")
my_set1

{'Papaya', 'apple', 'cherry', 'mango', 'orange', 'pineapple', 'watermelon'}

In [17]:
my_set1 = {'watermelon', 'mango', 'Papaya', 'apple', 'pineapple', 'orange', 'cherry'}

my_set1.remove("banana")
my_set1

KeyError: 'banana'

In [18]:
my_set1 = {'watermelon', 'mango', 'Papaya', 'apple', 'pineapple', 'orange', 'cherry'}

my_set1.clear()
print(my_set1)
print(type(my_set1))

set()
<class 'set'>

In [19]:
my_set1 = {'watermelon', 'mango', 'Papaya', 'apple', 'pineapple', 'orange', 'cherry'}

del my_set1

In [20]:
print(my_set1)

NameError: name 'my_set1' is not defined

In [21]:
my_set1 = {'apple','mango'}

In [22]:
print(type(my_set1))

<class 'set'>

In [23]:
my_set1.clear()

In [24]:
print(type(my_set1))

<class 'set'>

In [25]:
del my_set1

In [26]:
my_set1

NameError: name 'my_set1' is not defined

# Join two sets into one:
    1. union()
    2. update()
    
Note : both method exclude duplicate values

In [27]:
my_set1 = {'apple','mango','cherry','Papaya'}
my_set2 = {'pineapple','watermelon','orange'}

my_set3 = my_set1.union(my_set2)
print(my_set3)

{'mango', 'watermelon', 'orange', 'Papaya', 'cherry', 'pineapple', 'apple'}

In [28]:
my_set1 = {'apple','mango','cherry','Papaya'}
my_set2 = {10,20,30,40,50}

my_set3 = my_set1.union(my_set2)
print(my_set3)

{'mango', 'Papaya', 40, 10, 50, 20, 'cherry', 30, 'apple'}

In [29]:
my_set1 = {'apple','mango','cherry','Papaya'}
my_set2 = {'pineapple','watermelon','orange'}

my_set3 = (my_set1,my_set2)
print(my_set3)

({'mango', 'Papaya', 'apple', 'cherry'}, {'watermelon', 'orange', 'pineapple'})

In [30]:
print(type(my_set3))

<class 'tuple'>

In [31]:
my_set3[1]

{'orange', 'pineapple', 'watermelon'}

In [32]:
my_set1 = {'apple','mango','cherry','Papaya'}
my_set2 = {'pineapple','watermelon','orange'}

my_set3 = my_set1.update(my_set2)
print(my_set3)

None

In [33]:
my_set1 = {'apple','mango','cherry','Papaya'}
my_set2 = {'pineapple','watermelon','orange'}

my_set1.update(my_set2)
print(my_set1)

{'mango', 'watermelon', 'orange', 'Papaya', 'cherry', 'pineapple', 'apple'}

In [34]:
my_set1 = {'apple','mango','cherry','Papaya','watermelon','orange'}
my_set2 = {'pineapple','watermelon','orange','apple','cherry'}

my_set1.update(my_set2)
print(my_set1)

{'watermelon', 'mango', 'orange', 'Papaya', 'pineapple', 'cherry', 'apple'}

In [35]:
my_set1 = {'apple','mango','cherry','Papaya','watermelon','orange'}
my_set2 = {'pineapple','watermelon','orange','apple','cherry'}

my_set3 = my_set1.union(my_set2)
print(my_set1)

{'watermelon', 'mango', 'orange', 'Papaya', 'cherry', 'apple'}

# Only Duplicates Values

In [40]:
my_set1 = {'apple','mango','cherry','Papaya','watermelon','orange'}
my_set2 = {'pineapple','watermelon','orange','apple','cherry'}

my_set2.intersection_update(my_set1)
print(my_set2)

{'watermelon', 'orange', 'cherry', 'apple'}

In [37]:
my_set1 = {'apple','mango','cherry','Papaya','watermelon','orange'}
my_set2 = {'pineapple','watermelon','orange','apple','cherry'}

my_set3 = my_set1.intersection(my_set2)
print(my_set3)

{'watermelon', 'orange', 'cherry', 'apple'}