### List -Range of Negative Indexing

In [1]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

In [3]:
my_list[-4:]

['cherry', 'banana', 'orange', 'papaya']

In [4]:
my_list[:]

['apple', 'mango', 'cherry', 'banana', 'orange', 'papaya']

In [5]:
my_list[-5:-3]

['mango', 'cherry']

In [6]:
my_list[-1]

'papaya'

In [7]:
my_list[-6]

'apple'

# Change Item Value

In [8]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

In [9]:
my_list[3] = 'watermelon'
print(my_list)

['apple', 'mango', 'cherry', 'watermelon', 'orange', 'papaya']

### 1. Change  a Range of Value

In [10]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list[1:3] = ['blackcurrent','watermelon']
my_list

['apple', 'blackcurrent', 'watermelon', 'banana', 'orange', 'papaya']

In [11]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list[1:3] = ['blackcurrent','watermelon','mango']
my_list

['apple', 'blackcurrent', 'watermelon', 'mango', 'banana', 'orange', 'papaya']

In [13]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list[2:5] = ['watermelon', 'orange', 'apple']
my_list

['apple', 'mango', 'watermelon', 'orange', 'apple', 'papaya']

In [15]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list[2:5] = ['watermelon']
my_list

['apple', 'mango', 'watermelon', 'papaya']

# Insert Item

In [16]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.insert(2,'watermelon')
my_list

['apple', 'mango', 'watermelon', 'cherry', 'banana', 'orange', 'papaya']

In [18]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.insert(1,'watermelon')
my_list

['apple', 'watermelon', 'mango', 'cherry', 'banana', 'orange', 'papaya']

In [21]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.insert(3,['apple','mango'])
my_list

['apple', 'mango', 'cherry', ['apple', 'mango'], 'banana', 'orange', 'papaya']

### 2. append

In [25]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.append(['mango','apple'])
my_list

['apple', 'mango', 'cherry', 'banana', 'orange', 'papaya', ['mango', 'apple']]

### 3. Extend

In [27]:
my_list1 = ['apple','mango','cherry']
my_list2 = ['banana','orange','papaya']

print(my_list1)
print(my_list2)

my_list1.extend(my_list2)
my_list1

['apple', 'mango', 'cherry']
['banana', 'orange', 'papaya']

['apple', 'mango', 'cherry', 'banana', 'orange', 'papaya']

In [28]:
my_list1 = ['apple','mango','cherry']
my_list2 = ['banana','orange','papaya']

print(my_list1)
print(my_list2)

my_list2.extend(my_list1)
print(my_list2)

['apple', 'mango', 'cherry']
['banana', 'orange', 'papaya']
['banana', 'orange', 'papaya', 'apple', 'mango', 'cherry']

### Remove Elements in list:
    1. Remove()
    2. Pop()
    3. del [keyword]

**1. Remove**
    1. Remove method is used to remove specified element of list

In [29]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.remove('mango')
my_list

['apple', 'cherry', 'banana', 'orange', 'papaya']

In [31]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.remove('mango')
my_list

['apple', 'cherry', 'banana', 'orange', 'papaya']

**2. Pop**

In [32]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.pop()
my_list

['apple', 'mango', 'cherry', 'banana', 'orange']

In [33]:
my_list = ['apple', 'mango', 'cherry', 'banana', 'orange']

my_list.pop()
my_list

['apple', 'mango', 'cherry', 'banana']

In [34]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.pop(3)
my_list

['apple', 'mango', 'cherry', 'orange', 'papaya']

In [40]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

my_list.pop(2)
my_list

['apple', 'mango', 'banana', 'orange', 'papaya']

**3. del**

In [42]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

del my_list[:2]
my_list

['cherry', 'banana', 'orange', 'papaya']

In [43]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

del my_list[4]
my_list

['apple', 'mango', 'cherry', 'banana', 'papaya']

In [46]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

del my_list
my_list

NameError: name 'my_list' is not defined

In [47]:
my_list = ['apple','mango','cherry','banana','orange','papaya']


my_list.clear()
my_list

[]

#### Loop Through List

In [53]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

print(my_list)

for x in my_list: #(i=6, n=5)
    print(x)

['apple', 'mango', 'cherry', 'banana', 'orange', 'papaya']
apple
mango
cherry
banana
orange
papaya

In [54]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

len(my_list)

6

In [60]:
my_list = ['apple','mango','cherry','banana','orange','papaya']

for i in range(len(my_list)):
    print(i,my_list[i])

0 apple
1 mango
2 cherry
3 banana
4 orange
5 papaya

*
* *
* * *
* * * *
* * * * *

In [65]:
for i in range(1,6):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
my_list.