# Operators:
    There are diffeerent types of operators
    1. Arithmatic Operators
    2. Assignments Operators
    3. Comparision Operator
    4. Logical Operators
    5. Identity Operators
    6. Membership Operators
    7. Bitwise Operators

### 1. Arithmatic Operators:
    1. addition [+]
    2. substraction [ -]
    3. multiplication [*]
    4. division [/]
    5. Modulas [%]
    6. Exponetiation [**]
    7. Flore Division [//]

In [1]:
x = 10
y = 20

z = x + y
print(z)

30

In [2]:
x = 100
y = 20

z = x - y
print(z)

80

In [3]:
x = 10
y = 20

z = x * y
print(z)

200

In [4]:
x = 10
y = 20

z = x / y
print(z)

0.5

In [5]:
x = 22
y = 21

z = x // y
print(z)

1

In [6]:
x = 22
y = 21

z = x % y
print(z)

1

In [7]:
x = 2
y = 3

z = x ** y
print(z)

8

# 2. Assignment Operators

In [8]:
x = 5
print(x)

5

In [9]:
# x = 5
# x = x + 5
# print(x)

x += 5
print(x)

10

In [10]:
y = 10
# y = y - 5
y -= 5
print(y)

5

In [11]:
# a = 4
a *= 4
print(a)

NameError: name 'a' is not defined

In [ ]:
b = 4
b *= 5
print(b)

In [ ]:
c = 20
c /= 10
print(c)

In [ ]:
d = 21
d %= 10
print(d)

In [ ]:
c = 20
c //= 10
print(c)

In [ ]:
f = 10
f **= 2
print(f)

# 3. Comparison Operators:
    1. Eqaul [x == y]
    2. Not Equal [x!=y]
    3. Greater than [x > y]
    4. Less than [x < y]
    5. Greater than or equal to  [x >= y]
    6. Less than or equal to [x <= y]

In [ ]:
x = 10
y = 10

if x == y:
    print("Equal Number")
else:
    print("Not Equal")

In [ ]:
x = 15
y = 15

if x != y:
    print("Not Equal")
else:
    print("Equal Number")

In [ ]:
x = 45
y = 30

if x > y:
    print("X is greater than Y")
else:
    print("x is not greater than Y")

In [ ]:
x = 30
y = 30

if x >= y:
    print("X is greater than or equal Y")
else:
    print("x is not greater than or equal to Y")

In [ ]:
x = 29
y = 30

if x < y:
    print("X is less than Y")
else:
    print("x is not less than Y")

In [ ]:
x = 31
y = 30

if x <= y:
    print("X is less than or equal Y")
else:
    print("x is not less than or equal Y")

# 4. Logical Operators:
    
    1. and - [Return True if statement are True]
    2. or - [Return True if one of the Statement are True]
    3. not - [Reverse the Result, Return Flase if the result and True]

In [ ]:
x = 15 
y = 13

if x > y and x < y:
    print("True")
else:
    print('False')

## 2. Logical OR

In [ ]:
x = 15 
y = 13

if x < y or x > y:
    print("True")
else:
    print('False')

## 3. Logical not

In [ ]:
x = 15
y = 13

if (not(x < y or x < y)):
    print("True")
else:
    print("False")

# 5. Identity Operators:
    1. is
    2. is not

# 1. is

In [ ]:
x = ["apple","mango","cherry"]
y = ["apple","mango","cherry"]

x = y
print(x is y)

z = x
print(z is x)

In [12]:
x = ["apple","mango","cherry"]
y = ["apple","mango"]

y = x
print(y is not x)

False

# 6. Membership Operator:
    1. in 
    2. in not

# 1. In

In [14]:
my_list = ['apple', 'mango','banana','cherry']

print("Banana" in my_list)

False

In [15]:
my_list = ['apple', 'mango','banana','cherry']

print("banana" in my_list)

True

# 2. not in

In [17]:
my_list = ['apple', 'mango','banana','cherry']

print("banana" not in my_list)

False