## Join Sets in Python:
    1. union()
    2. update()

In [1]:
my_set1 = {"apple","mango","cherry",'orange'}
my_set2 = {1,2,3,4,5}

my_set3 = my_set1.union(my_set2)
print(my_set3)

{1, 2, 3, 4, 5, 'orange', 'mango', 'cherry', 'apple'}

In [8]:
my_set1 = {"apple","mango","cherry",'orange'}
my_set2 = {1,2,3,4,5}

my_set3 = my_set2.union(my_set1)
print(my_set3)

{1, 2, 3, 4, 5, 'orange', 'mango', 'cherry', 'apple'}

### 2. Update

In [7]:
my_set1 = {"apple","mango","cherry",'orange'}
my_set2 = {1,2,3,4,5}

my_set1.update(my_set2)
print(my_set1)

{1, 2, 3, 4, 5, 'orange', 'mango', 'cherry', 'apple'}

# Keep Only Duplicates values in set:
    1. intersection()
    2. intersection_update()

In [10]:
my_set1 = {"apple","mango","cherry",'orange','watermelon','blackcurrent'}
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent'}
my_set3 = {'apple',"mango"}

my_set4 = my_set1.intersection(my_set2,my_set3)
print(my_set4)

{'mango', 'apple'}

# 2. intersection_update

In [11]:
my_set1 = {"apple","mango","cherry",'orange','watermelon','blackcurrent'}
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent'}

my_set1.intersection_update(my_set2)
print(my_set1)

{'mango', 'apple', 'watermelon', 'blackcurrent'}

# Keep All Elements but not Duplicate:
    1.symmetric_difference_update()
    1.symmetric_difference()

In [13]:
my_set1 = {"apple","mango","cherry",'orange','watermelon','blackcurrent'}
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya'}

x = my_set1.symmetric_difference(my_set2)
print(x)

{'papaya', 'cherry', 'orange'}

### 2. symmetric_difference_update()

In [14]:
my_set1 = {"apple","mango","cherry",'orange','watermelon','blackcurrent'}
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya'}

my_set2.symmetric_difference_update(my_set1)
print(my_set2)

{'orange', 'papaya', 'cherry'}

In [15]:
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya'}

my_set2.add("orange")
print(my_set2)

{'orange', 'watermelon', 'mango', 'papaya', 'apple', 'blackcurrent'}

In [16]:
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya','orange'}

my_set2.add("orange")
print(my_set2)

{'orange', 'watermelon', 'mango', 'papaya', 'apple', 'blackcurrent'}

In [17]:
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya','orange'}

new_set = my_set2.copy()
print(new_set)

{'mango', 'papaya', 'apple', 'orange', 'blackcurrent', 'watermelon'}

In [19]:
my_set1 = {"apple","mango","cherry",'orange','watermelon','blackcurrent'}
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya'}

new_set = my_set2.difference(my_set1)
print(new_set)

{'papaya'}

In [20]:
my_set1 = {"apple","mango","cherry",'orange','watermelon','blackcurrent'}
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya'}

my_set1.difference_update(my_set2)
print(my_set1)

{'orange', 'cherry'}

In [21]:
my_set1 = {"apple","mango","cherry",'orange','watermelon','blackcurrent'}
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya'}

my_set2.difference_update(my_set1)
print(my_set2)

{'papaya'}

In [22]:
my_set1 = {"apple","mango","cherry",'orange','watermelon','blackcurrent'}
my_set2 = {"mango", 'watermelon', 'apple', 'blackcurrent','papaya'}

new_set = my_set1.isdisjoint(my_set2)
print(new_set)

False

In [25]:
my_set1 = {"cherry",'orange','apple'}
my_set2 = {"mango", 'watermelon', 'blackcurrent','papaya'}

new_set = my_set1.isdisjoint(my_set2)
print(new_set)

True

In [31]:
my_set1 = {"cherry",'orange','apple'}
my_set2 = {"mango", 'cherry','orange','papaya','apple'}

new_set = my_set1.issubset(my_set2)
print(new_set)

True

In [34]:
my_set1 = {'A','B','C'}
my_set2 = {'D','E','F','C','A','B'}

new_set = my_set1.issubset(my_set2)
print(new_set)

True

In [35]:
my_set2 = {"mango", 'cherry','orange','papaya','apple'}

my_set2.clear()
print(my_set2)

set()

In [36]:
del my_set2

In [37]:
my_set2

NameError: name 'my_set2' is not defined